<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ApiKey" value="trnsl.1.1.20140610T181812Z.6138dcf6b60428a1.200927bc1cf36e57213a69aa10bdbd3ed0e9229e"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
